gen_lws_config_h.sh filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
READMEs filter=lfs diff=lfs merge=lfs -text
Makefile.projbuild filter=lfs diff=lfs merge=lfs -text
CMakeAndroidLists.txt.template filter=lfs diff=lfs merge=lfs -text
component.mk filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
win32port filter=lfs diff=lfs merge=lfs -text
changelog filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
plugins filter=lfs diff=lfs merge=lfs -text
plugin-standalone filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
Android.mk filter=lfs diff=lfs merge=lfs -text
Kconfig filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
lwsws filter=lfs diff=lfs merge=lfs -text
appveyor.yml filter=lfs diff=lfs merge=lfs -text
minimal-examples filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
libwebsockets.dox filter=lfs diff=lfs merge=lfs -text
test-apps filter=lfs diff=lfs merge=lfs -text
cmake filter=lfs diff=lfs merge=lfs -text
doc-assets filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
